{% extends 'base.html' %}

{% block content %}

<h1>Meta</h1>

<ul class="link-list">
    <li><a href="{% url 'recent_changes' %}">Recent Changes</a></li>
    <li><a href="{% url 'all_pages' %}">All Pages</a></li>
</ul>

<h2>Admin</h2>
<ul class="link-list">
    <li><a href="{% url 'all_users' %}">Users</a></li>
    <li><a href="{% url 'configure_site' %}">Site Settings</a></li>
    <li><a href="{% url 'debug' %}">Debug</a></li>
    <li><a href="{% url 'debug_styling' %}">Debug Styling</a></li>
</ul>

{% endblock %}
