/* POSITIONING */
.main-container {
    margin: 5px 0 20px 200px;
    padding: 20px;

    position: relative;
    width: 600px;
}
.header {
    margin-bottom: 10px;
}
.site-search {
    position: absolute;
    right: 0;
    top: 0;
    margin: 20px;
}
.sidebar {
    position: absolute;
    left: -170px;
    width: 150px;
    background: white;
    padding: 10px 0 0 0;
}
.sidebar h2 {
    text-align: center;
    margin-bottom: 5px;
}

/* BASIC UI COLOURS */
body {
    background: #ddd;
}
.main-container {
    background: white;
}

/* TYPOGRAPHY */
body, p, pre, code {
    font-size: 16px;
}
body, p {
    font-family: 'Open Sans', Verdana, Helvetica, sans-serif;
}
p, ul, ol, h1, h2, h3, h4, h5, h6 {
    line-height: 24px;
}
p, ul, ol {
    margin-bottom: 24px;
}
h1 {
    font-size: 36px;
    line-height: 48px;
}
h2 {
    font-size: 22px;
}
h3 {
    font-size: 18px;
}
h4, h5, h6 {
    font-size: 16px;
}
h5, h6 {
    font-style: italic;
}
p, ul, ol, li, pre, code  {
    line-height: 24px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Bree Serif', Georgia, serif !important;
    font-weight: normal;
}

/* LISTS */
ul {
    list-style-type: square;
}
ul, ol {
    margin-left: 25px;
}

/* TOOLBARS */
.toolbar a {
    text-transform: uppercase;
    color: black;
    border-bottom: 1px solid black;
}
.toolbar a:visited {
    color: black;
    border-bottom: 1px solid black;
}
.toolbar a:hover, .toolbar a:hover:visited, .toolbar .active {
    color: black;
    background-color: #f8f8f8;
}
.site-toolbar a {
    margin-right: 20px;
}

/* METADATA */
.metadata {
    color: gray;
}
.metadata * {
    margin: 0;
}

/* TOOLTIPS */
[title] {
    border-bottom: 1px dotted gray;
}

/* EDITING */
.editor {
    float: left;
    padding-right: 40px;
}
.editor input, .editor textarea {
    width: 490px;
    color: black;
    font-size: 16px;
}
#preview-wrapper {
    display: none;
}
#preview {
    float: left;
}

.btn-toolbar {
    /* the btn-toolbar is only useful if JS is on, so we hide by default */
    display: none;
    margin: 0 0 5px 0;
}
.btn-toolbar .bold {
    font-weight: bold;
}
.btn-toolbar .italic {
    font-style: italic;
}

/* PAGES */
.page > :last-child {
    margin-bottom: 0;
}

/* COMMENTS */
.comment {
    margin-top: 24px;
}
.comment > :last-child {
    margin-bottom: 0;
}

/* HYPERLINKS */
img.favicon {
    vertical-align: sub;
    max-height: 16px;
    padding-right: 3px;
}
a {
    color: blue;
    border-bottom: 1px solid blue;
}
a:hover {
    color: blue;
    background-color: #f2f7fc;
    text-decoration: none;
}
a:visited {
    color: #800080;
    border-bottom: 1px solid #800080;
}
a:visited:hover {
    background-color: #fbf2fc;
}
a.nonexistent {
    color: red;
    border-bottom: 1px solid red;
}
a.nonexistent:hover {
    background-color: #fff0f0;
}

/* TABLES */
table {
    margin-bottom: 24px;
    width: 100%;

    border: 1px solid rgb(221, 221, 221);
}
tr:nth-child(2n) {
    background: #f5f5f5;
}
td, th {
    border-top: 1px solid rgb(221, 221, 221);
}
td + td, th + th, td + th, th + td {
    border-left: 1px solid rgb(221, 221, 221);
}

/* PREFORMATTED & CODE */
pre, code {
    border: 0;
    padding: 0;
    margin: 0 0 24px 0;
    background-color: transparent;
    color: inherit;
    overflow-x: auto;
    white-space: pre;
}

/* TABLE OF CONTENTS */
.table-of-contents ul {
    margin-bottom: 0;
}
.table-of-contents h3 a:hover {
    border-bottom-style: none;
}
.table-of-contents h3 i {
    color: inherit;
}
.table-of-contents li {
    list-style-type: none;
}
