{% extends 'base.html' %}

{% block content %}
<h1>Users</h1>

<p>Current user: {{ request.user.username }}
</p>

{% if active_users %}
<h2>Active Users</h2>
<table>
    <thead>
            <tr>
                <th>Username</th>
                <th>Email</th>
                <th>Admin</th>
                <th>Created</th>
                <th>Last seen</th>
                <th>Modify</th>
            </tr>
    </thead>
    <tbody>
        {% load time_format %}
        {% for user in active_users %}
        <tr>
            <td>{{ user.username }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.is_superuser|yesno }}</td>
            <td>
                <time datetime="{{ user.date_joined.isoformat }}" title="{{ user.date_joined|absolute_time }}">
                    {{ user.date_joined|relative_time }}
                </time>
            </td>
            <td>
                <time datetime="{{ user.last_login.isoformat }}" title="{{ user.last_login|absolute_time }}">
                    {{ user.last_login|relative_time }}
                </time>
            </td>
            <td>
		    <a href="{% url 'edit_user' user.id %}">Edit</a>
		    <a href="{% url 'delete_user' user.id %}">Delete</a>
	    </td>
        </tr>
	{% endfor %}
    </tbody>
</table>

{% else %}
<p>No active users yet.</p>
{% endif %}

{% if inactive_users %}
<h2>Inactive Users</h2>

<table>
    <thead>
            <tr>
                <th>Username</th>
                <th>Email</th>
                <th>Admin</th>
                <th>Created</th>
                <th>Last seen</th>
                <th>Modify</th>
            </tr>
    </thead>
    <tbody>
        {% for user in inactive_users %}
        <tr>
            <td>{{ user.username }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.is_superuser|yesno }}</td>
            <td>
                <time datetime="{{ user.date_joined.isoformat }}" title="{{ user.date_joined|absolute_time }}">
                    {{ user.date_joined|relative_time }}
                </time>
            </td>
            <td>
                <time datetime="{{ user.last_login.isoformat }}" title="{{ user.last_login|absolute_time }}">
                    {{ user.last_login|relative_time }}
                </time>
            </td>
            <td>
		    <a href="{% url 'edit_user' user.id %}">Edit</a>
		    <a href="{% url 'delete_user' user.id %}">Delete</a>
	    </td>
        </tr>
	{% endfor %}
    </tbody>
</table>
{% endif %}

<p><a href="{% url 'create_user' %}">Create a user</a>.
</p>

{% endblock %}
