body {
    padding-top: 50px;
}

a {
    color: inherit;
    font-weight: bold;
}

.sidebar {
    position: absolute;
    width: 350px;
}

.sidebar * {
    padding: 0;
    margin: 0;
    text-align: right;
}

.content {
    position: absolute;
    left: 370px;
    max-width: 600px;
}

.content > :first-child {
    margin-top: 0;
}

#comment {
    border: 1px solid black;
    padding-bottom: 10px;
}

#comment > :first-child {
    margin-top: 0;
}

#comment .comment-author {
    font-style: italic;
}