<!DOCTYPE html>
<html>
    <head>
	<title>{% block title %}{{ config.site_name }}{% endblock %}</title>
	<link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet">
	<link href="{{ STATIC_URL }}css/bootstrap-responsive.min.css" rel="stylesheet">
	<link href="{{ STATIC_URL }}css/picky.css" rel="stylesheet">
        <link href="http://fonts.googleapis.com/css?family=Bree+Serif" rel="stylesheet" type="text/css">
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,400italic" rel="stylesheet" type="text/css">
        {% block extra-js %}{% endblock %}
    </head>
    <body>
        <div class="header meta-links column">
            <a href="{% url index %}">{{ config.site_name }}</a>

            <div class="right-links">
                <a href="{% url create_page %}">new</a>
                <a href="{% url meta %}">meta</a>
		{% if request.user.is_authenticated %}
		<a href="{% url logout %}">logout</a>
		{% else %}
		<a href="{% url login %}">login</a>
		{% endif %}
            </div>
        </div>

        <div class="column">
            {% block tab_bar %}{% endblock %}
        </div>
        
	<div class="main column">
	    {% block content %}{% endblock %}
        </div>
        
	{% block whole-row-content %}{% endblock %}
    </body>
</html>
