<!DOCTYPE html>
<html>
    <head>
	    <title>{% block title %}{{ config.site_name }}{% endblock %}</title>
	    <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet">
	    <link href="{{ STATIC_URL }}css/bootstrap-responsive.min.css" rel="stylesheet">
	    <link href="{{ STATIC_URL }}css/picky.css" rel="stylesheet">
            {% block extra-js %}{% endblock %}
    </head>
    <body>
	    <div class="navbar">
		    <div class="navbar-inner">
			    <div class="container">
				    <a class="brand" href="{% url index %}">
					    {{ config.site_name }}
				    </a>

				    <ul class="nav">
					    <li><a href="{% url create_page %}">New Page</a></li>
					    <li><a href="{% url meta %}">Meta</a></li>
				    </ul>

				    <ul class="nav pull-right">
					    <li><a href="#">{{ user.username|default:"Not logged in" }}</a></li>
					    {% if request.user.is_authenticated %}
					    <li><a href="{% url logout %}">log out</a></li>
					    {% else %}
					    <li><a href="#">Not logged in</a></li>
					    {% endif %}
				    </ul>
			    </div>
		    </div>
	    </div>

	    <div class="container">
                    {% block tab_bar %}{% endblock %}
		    <div class="row">
			    <div class="span8">
				    {% block content %}{% endblock %}
			    </div>
			    <div class="span4">
			    </div>
		    </div>
		    {% block whole-row-content %}{% endblock %}
            </div>
    </body>
</html>
