<!DOCTYPE html>
<html>
    <head>
	    <title>{% block title %}{{ config.site_name }}{% endblock %}</title>
	    <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet">
	    <link href="{{ STATIC_URL }}css/bootstrap-responsive.min.css" rel="stylesheet">
	    <link href="{{ STATIC_URL }}css/picky.css" rel="stylesheet">
            {% block extra-js %}{% endblock %}
    </head>
    <body>
        <div class="header-background">
        </div>

        <div class="header span12">
            <div class="site-name">
                <h2><a href="{% url index %}">{{ config.site_name }}</a></h2>
                <a href="{% url create_page %}">new</a>
                <a href="{% url meta %}">meta</a>
		{% if request.user.is_authenticated %}
		<a href="{% url logout %}">logout</a>
		{% else %}
		<a href="#">Not logged in</a>
		{% endif %}
            </div>
        </div>

	    <div class="container">
                    {% block tab_bar %}{% endblock %}
		    <div class="row">
			    <div class="span8">
				    {% block content %}{% endblock %}
			    </div>
			    <div class="span4">
			    </div>
		    </div>
		    {% block whole-row-content %}{% endblock %}
            </div>
    </body>
</html>
