{% extends 'base.html' %}

{% block content %}
<h1>All Pages</h1>

<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Last Edited</th>
            <th>Total Edits</th>
        </tr>
    </thead>
    <tbody>
        {% load time_format %}
        {% for page in pages %}
        <tr>
            <td>
                <a href="{% url 'view_page' page.name_slug %}">{{ page.name }}</a>
            </td>
            <td>
                <time datetime="{{ page.get_last_edit_time.isoformat }}" title="{{ page.get_last_edit_time|absolute_time }}">{{ page.get_last_edit_time|relative_time }}</time>
            </td>
            <td>{{ page.get_latest_revision.version }}</td>
        </tr>
	{% empty %}
        <tr>
            <td colspan="3">No pages yet.</td>
        </tr>
	{% endfor %}
    </tbody>
</table>

{% endblock %}
