{% extends 'base.html' %}

{% block content %}
<h1>Debug Styling</h1>

<p>I am a long paragraph. Lorem ipsum dolor sit amet, consectetur
adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
fugiat nulla pariatur.
</p>

<p>I am a medium paragraph. Excepteur sint occaecat cupidatat non
proident, sunt in culpa qui officia deserunt mollit anim id est
laborum.
</p>

<p>I am a short paragraph.</p>

<h2>I am an h2</h2>

<p>I am a short paragraph.</p>

<h3>I am an h3</h3>

<p>I am a short paragraph.</p>

<h4>I am an h4</h4>

<p>Links: <a href="/?{{ time }}">unvisited</a>,
    <a href="{% url 'debug_styling' %}">visited</a>,
    <a href="" class="nonexistent">nonexistent</a>.
    Don't forget to hover!
</p>

<p>
    <a href="http://www.google.com">External link with favicon</a>
    <img class="favicon" src="//getfavicon.appspot.com/http%3A//www.google.com">.
</p>

<ul>
    <li>Bullet</li>
    <li>Bullet</li>
    <li>Bullet</li>
    <li>Bullet</li>
</ul>

<ol>
    <li>One</li>
    <li>Two</li>
    <li>Three</li>
    <li>Four</li>
</ol>

<table>
    <thead>
        <tr>
            <th>Foo
            </th>
            <th>Bar
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Foo
            </td>
            <td>Bar
            </td>
        </tr>
        <tr>
            <td>Foo
            </td>
            <td>Bar
            </td>
        </tr>
    </tbody>
</table>

<pre>
class HelloWorldApp {
    public static void main(String[] args) {
        System.out.println("Hello World!"); // Display the string.
    }
}
</pre>

<p>this is a time:
    <time datetime="2013-07-15T22:44:22.797000" title="2013 July 15, 22:44">some time ago</time>
</p>

<div class="metadata">
    <p>some metadata goes here
    </p>
</div>



{% endblock %}
