{% extends 'pages/page_base.html' %}

{% block page_edit_state %}active{% endblock %}

{% block extra-js %}
{{ block.super }}
<script src="{{ STATIC_URL }}jscreole/creole.min.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}jquery_plugins/jquery.outerhtml.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}js/live_preview.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}jquery_plugins/jquery.insertAtCaret.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}js/toolbar.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}picky/unload_warning.js" type="text/javascript"></script>
{% endblock %}

{% block content %}

<div class="editor-wrapper">
    <div class="editor column">
        <form method="post">
            {% csrf_token %}

            {{ form.non_field_errors }}

            <div class="fieldWrapper">
                {{ form.name.errors }}
                {{ form.name.label_tag }}
                
                {{ form.name }}
            </div>

            <div class="button-toolbar">
                <div class="button-group">
                    <button class="bold" type="button">B</button>
                    <button class="italic" type="button">I</button>
                </div>
                <div class="button-group">
                    <button class="h1" type="button">H1</button>
                    <button class="h2" type="button">H2</button>
                    <button class="h3" type="button">H3</button>
                </div>
            </div>

            <div class="fieldWrapper">
                {{ form.content.errors }}
                {{ form.content }}
            </div>

            <label></label><!-- grim hack to push button down -->
            <button type="submit" class="btn btn-primary">
	        <i class="icon-ok-sign icon-white"></i>
	        Save Page
            </button>
        </form>
    </div>
</div>

<div id="preview-wrapper">
    <div class="block">
        <h2>Live Preview</h2>
        <div id="preview" class="column">
        </div>
    </div>
</div>

{% endblock %}
