{% extends 'base.html' %}

{% block title %}{{ block.super }} | {{ page.name }}{% endblock %}

{% block tab_bar %}
<ul class="nav nav-tabs">
    <li class="{% block page_view_state %}{% endblock %}">
	    <a href="{% url view_page page.name_slug %}">View</a>
    </li>
    <li class="{% block page_edit_state %}{% endblock %}">
	    <a href="{% url edit_page page.id %}">Edit</a>
    </li>
    <li class="{% block page_comments_state %}{% endblock %}">
	    <a href="{% url view_page_comments page.name_slug %}">Comments</a>
    </li>
    <li class="{% block page_history_state %}{% endblock %}">
	    <a href="{% url view_page_history page.id %}">History</a>
    </li>
    <li class="{% block page_actions_state %}{% endblock %}">
	    <a href="{% url page_actions page.id %}">Actions</a>
    </li>
</ul>

{% endblock %}
