{% extends 'base.html' %}
{% load relative_time %}

{% block content %}
<h1>Recent Changes</h1>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Page</th>
            <th>User</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
	{% for revision in latest_revisions %}
        <tr>
            <td>
                <a href="{% url view_page revision.page.name_slug %}">{{ revision.page.name }}</a>
            </td>
            <td>{{ revision.author|default:"Anonymous" }}</td>
            <td>
                <span class="timestamp" title="{{ revision.time|date:"d M Y H:i" }}">{{ revision.time|relative_time }}</span>
            </td>
        </tr>
	{% empty %}
        <tr>
            <td colspan="2">No pages yet.</td>
        </tr>
	{% endfor %}
    </tbody>
</table>

{% endblock %}
