{% extends 'pages/page_base.html' %}

{% block page_comments_state %}active{% endblock %}

{% load relative_time %}

{% block inner-content %}

{% for comment in comments %}
<div class="comment-wrapper">
    <div class="comment">
        {{ comment.get_rendered_content|safe }}
    </div>

    <div class="meta-links footer">
        <p>{{ comment.user.username }},
            <span class="timestamp" title="{{ comment.time|date:"d M Y H:i" }}">{{ comment.time|relative_time }}</span>
        </p>
    </div>
</div>
{% endfor %}

<form method="post" class="well" action="{% url new_comment page.name_slug %}">
    {% csrf_token %}
    {{ form }}
    <label></label><!-- grim hack to push button down -->
    <button type="submit" class="btn btn-primary">
	Add Comment
    </button>
</form>

{% endblock %}
