{% extends 'pages/page_base.html' %}

{% block page_history_state %}active{% endblock %}

{% block inner-content %}
<table class="table table-striped table-bordered">
    <thead>
            <tr>
                <th>Name</th>
                <th>Version</th>
            </tr>
    </thead>
    <tbody>
	    {% for revision in all_revisions %}
            <tr>
                <td>{{ page.name }}</td>
                <td>
			{{ revision.version }}
			(<a href="{% url 'view_page' page.name_slug %}?version={{ revision.version }}">view
			this revision</a>)
		</td>
            </tr>
	    {% endfor %}
    </tbody>
</table>

{% endblock %}
