{% extends 'pages/page_base.html' %}

{% block page_comments_state %}active{% endblock %}

{% block inner-content %}

{% for comment in comments %}
<div class="well">
    <div class="comment-body">{{ comment.get_rendered_content|safe }}</div>

    <span class="author">{{ comment.user.username }}, {{ comment.time }}</span>
</div>
{% endfor %}

<form method="post" class="well" action="{% url new_comment page.name_slug %}">
    {% csrf_token %}
    {{ form }}
    <label></label><!-- grim hack to push button down -->
    <button type="submit" class="btn btn-primary">
	Add Comment
    </button>
</form>

{% endblock %}
