{% extends 'pages/page_base.html' %}

{% block page_comments_state %}active{% endblock %}

{% load time_format %}

{% block inner-content %}
<div class="meta-links">
    <a href="{% url new_comment page.name_slug %}">new comment</a>
</div>

{% for comment in comments %}
<div class="comment-wrapper">
    <div class="comment">
        {{ comment.get_rendered_content|safe }}
    </div>

    <div class="meta-links footer">
        <span>{{ comment.user.username }},</span>
        <time datetime="{{ comment.time.isoformat }}" title="{{ comment.time|absolute_time }}">{{ comment.time|relative_time }}</time>
        <a href="{% url new_comment page.name_slug comment.id %}">reply</a>
    </div>
</div>
{% endfor %}

{% endblock %}
