{% extends 'pages/page_base.html' %}

{% block page_view_state %}active{% endblock %}

{% block whole-row-content %}
<div class="row">
    <div class="span6">

        {% if version_specified %}
        <p><em>Warning: You are viewing version {{ version_specified }}.</em></p>
        {% endif %}

        {{ content|safe }}

    </div>

    <div class="span6">
        <h2>Comments</h2>
        <hr>

        {% for comment in comments %}
        <div class="well">
            <div class="comment-body">{{ comment.text }}</div>

            <span class="author">{{ comment.user.username }}, {{ comment.time }}</span>
        </div>
        {% endfor %}

        <form method="post" class="well" action="{% url new_comment page.id %}">
            {% csrf_token %}
            {{ form }}
            <label></label><!-- grim hack to push button down -->
            <button type="submit" class="btn btn-primary">
	        Add Comment
            </button>
        </form>
        
    </div>
        

{% endblock %}
