/* POSITIONING */
body {
    margin-left: 80px;
}
.main {
    margin-right: 50px;
}

.column {
    width: 500px;
}

.header .right-links {
    float: right;
}

.search {
    margin-bottom: 10px;
}
.search form {
    margin: 0;
    float: right;
}

.page-tools {
}

/* TYPOGRAPHY */
body, p, pre, code {
    font-size: 16px;
}
body, p {
    font-family: 'Open Sans', Verdana, Helvetica, sans-serif;
}
p, ul, ol, h1, h2, h3, h4, h5, h6 {
    line-height: 24px;
}
p, ul, ol {
    margin-bottom: 24px;
}
h1, h2, h3, h4, h5, h6 {
    color: inherit;
}
h1 {
    font-size: 36px;
    line-height: 48px;
}
h2 {
    font-size: 22px;
}
h3 {
    font-size: 18px;
}
h4, h5, h6 {
    font-size: 16px;
}
h5, h6 {
    font-style: italic;
}
p, ul, ol, li, pre, code  {
    line-height: 24px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Bree Serif', Georgia, serif !important;
    font-weight: normal;
}

/* LISTS */
ul {
    list-style-type: square;
}
/* Don't indent the outer list, but indent all other rows according to
 * their nesting level.
 */
ul, ol {
    margin-left: 0;
}
ul ul, ul ol, ol ul, ol ol {
    margin-left: 25px;
}

/* META */
.meta-links * {
    text-transform: uppercase;
    color: gray;
    font-size: 13px;
}
.meta-links a {
    margin-left: 16px;
}
.meta-links a:first-child {
    margin-left: 0;
}
.meta-links a:visited {
    color: gray;
}
.meta-links a:hover {
    color: black;
    text-decoration: none;
    border-bottom: 1px solid black;
}
.meta-links .active {
    border-bottom: 1px solid gray;
}
.timestamp {
    border-bottom: 1px dotted gray;
}

/* EDITING */
.editor {
    float: left;
    padding-right: 40px;
}
.editor input, .editor textarea {
    width: 490px;
    color: black;
    font-size: 16px;
}
#preview {
    float: left;
    color: gray;
}
/* we use more muted link colors for the preview */
#preview a {
    color: #4084a6;
}
#preview a:visited {
    color: #804080
}
#preview a.nonexistent {
    color: #c04040;
}
.btn-toolbar {
    /* the btn-toolbar is only useful if JS is on, so we hide by default */
    display: none;
    margin: 0 0 5px 0;
}
.btn-toolbar .bold {
    font-weight: bold;
}
.btn-toolbar .italic {
    font-style: italic;
}

/* PAGES */
.page > :last-child {
    margin-bottom: 0;
}

/* COMMENTS */
.comment {
    margin-top: 24px;
}
.comment > :last-child {
    margin-bottom: 0;
}

/* HYPERLINKS */
img.favicon {
    vertical-align: sub;
    max-height: 16px;
    padding-right: 3px;
}
a:visited {
    color: #800080
}
a.nonexistent {
    color: red;
}

/* TABLES */
table {
    margin-bottom: 24px;
    width: 100%;

    border: 1px solid rgb(221, 221, 221);
}
tr:nth-child(2n) {
    background: #f5f5f5;
}
td, th {
    border-top: 1px solid rgb(221, 221, 221);
}
td + td, th + th, td + th, th + td {
    border-left: 1px solid rgb(221, 221, 221);
}

/* PREFORMATTED & CODE */
pre, code {
    border: 0;
    padding: 0;
    margin: 0 0 24px 0;
    background-color: transparent;
    color: inherit;
    overflow-x: auto;
    white-space: pre;
}

/* COLLAPSIBLE TABLE OF CONTENTS */
.table-of-contents h3 a:hover {
    border-bottom-style: none;
}
.table-of-contents h3 i {
    color: inherit;
}
